.Cell {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--cellWidth);
  height: var(--cellWidth);

  background-color: var(--lightgray);
  border: 1px solid var(--transperentGray);

  font-family: 'numericFont', sans-serif;
  font-size: larger;
  cursor: pointer;
}

.Closed,
.Flagged {
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid gray;
  border-bottom: 4px solid gray;
}

.Closed:hover {
  border-top: 6px solid gray;
  border-left: 6px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;

  transition: border .1s ease-in-out;
}

.Exploded {
  background-color: red;
}

.NumberBlue {
  color: blue;
}

.NumberGreen {
  color: green;
}

.NumberRed {
  color: red;
}

.NumberDarkblue {
  color: darkblue;
}

.NumberBrown {
  color: brown;
}

.NumberCyan {
  color: cyan;
}

.NumberDark {
  color: black;
}

.NumberGray {
  color: gray;
}