* {
  margin: 0 auto;
}

.Wrapper {
  width: fit-content;
  background-color: lightgray;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid gray;
  border-bottom: 4px solid gray;
}

.Wrapper>* {
  margin: 10px;
}